
    :root{
        --border-top-color: #999;
        --border-color: #000;
        --background-color:  #333;
        --text-color:#fff;

        --font-family:  Arial, Helvetica, sans-serif;

        --font-size: 18px;
        --font-size-title: 150%;

        --line-height: 25.2px;

        --space-18: 18px;
        --space-9:9px;

        --padding-18: var(--space-18);
        --padding-9: var(--space-9);

        --margin-18: var(var(--space-18));

        --border-size-5: 5px;

        --gap-size:20px;

        --min-width-size: 300px;
    }
        
        * {
            box-sizing: border-box;
        }

        html {
            font: var(--font-size)/var(--line-height) var(--font-family);
        }

        body {
            padding: 0 0 var(--padding-18);
        }

        .topbar {
            background-color: var(--background-color);
            color:var(--text-color);
            border: var(--border-size-5) solid var(--border-color);
        }

        .topbar__list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .topbar__link {
            color:var(--text-color);
            text-decoration: none;
            display: block;
            padding: var(--padding-9) var(--padding-18);
            border-top: 1px solid var(--border-top-color);
        }

        .topbar__title {
            font-size: var(--font-size-title);
            font-style: italic;
            font-weight: bold;
            padding: var(--padding-18);
        }

        .main {
            padding: 0 var(--padding-18);
        }

        .cards {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .cards__item {
            border: var(--border-size-5) solid var(--border-color);
            margin-bottom: var(--margin-18);
        }

        .cards__title {
            background-color: var(--background-color);
            color:var(--text-color);
            margin: 0;
            padding:var(--padding-9) var(--padding-18);
        }

        .cards__inner {
            padding: var(--padding-9) var(--padding-18);
        }

        .sidebar {
            background-color:var(--background-color);
            border: var(--border-size-5) solid var(--border-color);
            padding: var(--padding-9) var(--padding-18);
            color: var(--text-color);
        }

        @media (width >1024px){
            .cards {
                display: flex;
                gap: var(--gap-size);
                flex-wrap: wrap;
            }

            .cards__item{
                flex: 0 0 calc(33% - var(--gap-size));
            }
            .topbar{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            .topbar__list{
                display: flex;
                padding: var(--padding-18);
            }
            .topbar__link {
                border: none;
            }

            .main{
                display: flex;
                padding: var(--padding-18);
            }
            .sidebar{
                margin: var(--margin-18);
                min-width: var( --min-width-size);
            }
        }