
        * {
            box-sizing: border-box;
        }

        html {
            font:
            1.2em/1.4 Arial,
            Helvetica,
            sans-serif;
        }

        body {
            padding: 0 0 1em;
        }

        header {
            background-color: #333;
            color: #fff;
            border: 5px solid #000;
        }

        header ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        header a {
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 0.5em 1em;
            border-top: 1px solid #999;
        }

        header .title {
            font-size: 150%;
            font-style: italic;
            font-weight: bold;
            padding: 1em;
        }

        main {
            padding: 0 1em;
        }

        .cards {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .cards li {
            border: 5px solid #000;
            margin-bottom: 1em;
        }

        .cards h2 {
            background-color: #333;
            color: #fff;
            margin: 0;
            padding: 0.5em 1em;
        }

        .cards .inner {
            padding: 0.5em 1em;
        }

        .sidebar {
            background-color: #333;
            border: 5px solid #000;
            padding: 0.5em 1em;
            color: #fff;
        }

        @media (width >1024px){
            .cards {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
            }

            .cards li{
                flex: 0 0 calc(33% - 20px);
                
            }
            header{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            header ul{
                display: flex;
                padding: 1em;
            }
            header a {
                border: none;
            }

            main{
                display: flex;
                padding: 1em;
            }
            .sidebar{
                margin: 1em;
                min-width: 350px;
            }
        }