* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

[class^="col-"] {
    flex: 0 0 100%;
    max-width: 100%;
    height: 80px;
    box-shadow: inset 0 0 0 2px black;
}



@media (min-width: 768px) {

    .col-md-6 { 
        flex: 0 0 50%; 
        max-width: 50%; 
    }
    .col-md-4 { 
        flex: 0 0 33.333%; 
        max-width: 33.333%; 
    }
    .col-md-3 { 
        flex: 0 0 25%; 
        max-width: 25%; 
    }
    .col-md-2 { 
        flex: 0 0 16.666%; 
        max-width: 16.666%; 
    }

}


@media (min-width: 1024px) {

    .col-lg-1  { 
        flex: 0 0 8.333%;  
        max-width: 8.333%; 
    }
    .col-lg-2  { 
        flex: 0 0 16.666%; 
        max-width: 16.666%; 
    }
    .col-lg-3  { 
        flex: 0 0 25%;     
        max-width: 25%; 
    }
    .col-lg-4  { 
        flex: 0 0 33.333%; 
        max-width: 33.333%; 
    }
    .col-lg-5  { 
        flex: 0 0 41.666%; 
        max-width: 41.666%; 
    }
    .col-lg-6  { 
        flex: 0 0 50%;     
        max-width: 50%; 
    }
    .col-lg-7  { 

        flex: 0 0 58.333%; 
        max-width: 58.333%; }
    .col-lg-8  { 
        flex: 0 0 66.666%; 
        max-width: 66.666%; 
    }
    .col-lg-9  { 
        flex: 0 0 75%;     
        max-width: 75%; 
    }
    .col-lg-10 { 
        flex: 0 0 83.333%; 
        max-width: 83.333%; 
    }
    .col-lg-11 { 
        flex: 0 0 91.666%;
        max-width: 91.666%; 
    }
    .col-lg-12 { 
        flex: 0 0 100%;    
        max-width: 100%; 
    }

}

.pink {
    background-color: #e91e63;
}

.green {
    background-color: #4caf50;
}

.blue {
    background-color: #2196f3;
}

.yellow {
    background-color: #ffc107;
}
