@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


#header-detail{
    justify-content: center;
    position: relative;
}
#header-detail>p{
    margin: 0;
    text-align: center;
}
#header-detail>a{
    position: absolute;
    left: 16px;
    color: black;
}

main{
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
}
main>h1{
    text-align: left;
    font-weight: 200;
}
main>p{
    font-family: 'Inter', sans-serif;
    color: #666666;
    text-align: left;
    font-weight: 200;
    padding-bottom: 20px;
}
form {
    text-decoration: none;
}
ul{padding: 0;}

li{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
label{
    margin-top: 16px;
}
input, textarea{
    border: 2px solid #9c9c9c ;
    border-radius: 8px;
    padding: 12px 14px;
}
textarea{
    min-height: 160px;
    resize: vertical;
}

.steps{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}
.steps-item{
    display: flex;
    align-items: center;
    gap: 12px;
    color: #333333;
}
span{
    font-family: 'Inter', sans-serif; ;
}
.radio-circle{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #2D5A27;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    background-color: #2D5A27;
    flex-shrink: 0;
}